body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
}

.truncate-text-4 {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important; /* Number of lines to display */
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.truncate-text-3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important; /* Number of lines to display */
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.truncate-text-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important; /* Number of lines to display */
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.row-3 {
  flex: 0 0 auto !important;
  height: 33% !important;
}

.WA-theme-main {
  color: #0b68b1 !important;
}

.WA-theme-bg-main {
  background-color: #0b68b1 !important;
}

.WA-theme-white {
  color: #ffffff !important;
}

.WA-theme-bg-white {
  background-color: #ffffff !important;
}

.WA-theme-black {
  color: #000000 !important;
}

.WA-theme-bg-black {
  background-color: #000000 !important;
}

.WA-theme-light {
  color: #f1f1f1 !important;
}

.WA-theme-bg-light {
  background-color: #fffaf6 !important;
}

.WA-theme-dark {
  color: #434343 !important;
}

.WA-theme-bg-dark {
  background-color: #486376 !important;
}

.WA-theme-positive {
  color: #31bc63 !important;
}

.WA-theme-bg-positive {
  background-color: #31bc63 !important;
}

.WA-theme-negative {
  color: #c32626 !important;
}

.WA-theme-bg-negative {
  background-color: #c32626 !important;
}

.WA-theme-bg-soft {
  background-color: #eef0eb !important;
}

.WA-theme-bg-regular {
  background-color: #cdcfcf !important;
}

.WA-theme-bg-solid {
  background-color: #7ea4b9 !important;
}

.WA-theme-separator-light {
  border-color: #e6eff4 !important;
}

.WA-theme-separator-dark {
  border-color: #203376 !important;
}

.WA-theme-gradient-main {
  background: rgb(11, 104, 177) !important;
  background: linear-gradient(
    180deg,
    rgba(11, 104, 177, 0) 0%,
    rgba(11, 104, 177, 1) 70%
  ) !important;
}
