body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.truncate-text-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-3 {
  flex: 0 0 auto;
  height: 33%;
}

.WA-theme-main{
  color: #0B68B1
}

.WA-theme-bg-main{
  background-color: #0B68B1;
}

.WA-theme-white{
  color: #FFFFFF
}

.WA-theme-bg-white{
  background-color: #FFFFFF
}

.WA-theme-black{
  color: #000000
}

.WA-theme-bg-black{
  background-color: #000000
}

.WA-theme-light{
  color: #F1F1F1
}

.WA-theme-bg-light{
  background-color: #FFFAF6
}

.WA-theme-dark{
  color: #434343
}

.WA-theme-bg-dark{
  background-color: #486376
}

.WA-theme-positive{
  color: #31BC63
}

.WA-theme-bg-positive{
  background-color: #31BC63
}

.WA-theme-negative {
  color: #C32626
}

.WA-theme-bg-negative{
  background-color: #C32626
}

.WA-theme-bg-soft{
  background-color: #EEF0EB
}

.WA-theme-bg-regular{
  background-color: #CDCFCF
}

.WA-theme-bg-solid{
  background-color: #7EA4B9
}

.WA-theme-separator-light{
  border-color: #E6EFF4
}

.WA-theme-separator-dark{
  border-color: #203376
}

.WA-theme-gradient-main{
  background: rgb(11,104,177);
  background: linear-gradient(180deg, rgba(11,104,177,0) 0%, rgba(11,104,177,1) 70%);
}
